@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

/*VARIABLES*/
:root {
  --color-neutral: rgb(31, 29, 43);
  --color-neutral-1: rgb(37, 41, 54);
  --color-neutral-3: rgb(53, 51, 64);
  --color-neutral-4: rgb(53, 51, 64);
  --color-neutral-5: rgb(128, 129, 145);
  --color-neutral-6: rgb(255, 255, 255);
}

/*GLOBAL CLASSES*/
html,
body,
#root {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: rgb(31, 29, 43);
  font-family: "Nunito", sans-serif;
  color: var(--color-neutral-6);
  overflow: hidden;
}


#root {
  display: flex;
}

main {
  width: 100%;
  overflow: auto;
  padding: 20px;
}

section{
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-left: clamp(auto, auto, auto);;
}


svg {
  transition: 0.3s;
}


h1,
h2,
h3,
h4 {
  color: var(--color-neutral-6);
  font-weight: 800;
}

a {
  color: inherit;
  cursor: inherit;
  text-decoration: none;
}

* {
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
}

/*UTILITY CLASSES*/

/*PC and Tablet*/

@media only screen and (min-width: 600px) {
  .phone-only {
    display: none !important;
  }
}

/*Phone*/
@media only screen and (max-width: 600px) {
  .phone-hide {
    display: none !important;
  }
}
